{% extends 'base.html.twig' %}

{% block title %}Market{% endblock %}

{% block body %}
<section id="itemsOnSale" class="container">
    <div class="row py-3">
        {% if batches is defined %}
            <div class="card-columns">
                {% for batch in batches %}
                <div class="card border-success">
                    <div class="card-header h3">
                        <span class="card-title">{{ batch.farm.name }}</span>
                        <div class="float-right"><span class="badge badge-info p2"><sup>K</sup>{{batch.sellingprice/100}}</span></div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Delicious fresh chickens. You can get it live or cleaned for an extra K5 payment. <span class="text-muted small">Sample Text for sales description.</span></p>
                        <a href="{{path('market_batch', {id: batch.id})}}" class="btn btn-info">Batch details</a>
                        <a href="#" class="btn btn-success">Place order</a>
                    </div>
                    <div class="card-footer">
                        <span class="text-muted small">Seller location: <span class="text-dark">{{batch.farm.location}}</span></span>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="col-12 justify-content-center">
                <p class="h1 text-danger">No Sale</p>
                <p>Thank you for visiting our online market place. Unfortunately, we regret to inform you that we don't have anything on sale at the moment.</p>
                <p>If you would like us to let you know when we have something on the market then drop your email below. We'll get back to you as soon as possible</p>
                {# <form action="subscribe/market" method="post">
                    <div class="form-group">
                    <input type="email"
                        class="form-control" name="clientEmail" id="clientEmail" aria-describedby="clientEmailHelp" placeholder="you@domain.com">
                    <small id="clientEmailHelp" class="form-text text-muted">drop your email here</small>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form> #}
            </div>
        {% endif %}
        </div>
    </div>
</section>
{% endblock %}
