{% extends "base.html.twig" %}
{% block body %}
<div class="container">
    <div class="row-fluid mh-100">
        <div class="col">
            <p class="h1 display-1 text-danger">Not Found</p>
            <p class="h2 text-secondary">The content which you have requested for could not be found anywhere within the system. If this is a mistake, please contact the administrators</p>
        </div>
    </div>
</div>
{% endblock %}